*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    height: 100vh;
}

.latebar {
    width: 20vh;
    background: linear-gradient(darkblue, grey);
    border-right: 3px solid #000000;
    padding: 2%;
}

.latebar h1 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 15%;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
}

.latebar nav ul {
    list-style: none;
}

.latebar nav li {
    margin-bottom: 30px;
}

.latebar nav a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    display: block;
}

.latebar nav a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
}
